

#COGSlogo{
    width: 60px;
    height:50px;
    position:absolute;
    left: 1280px;
    bottom: 90%;
   

}



html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        left:1px;
        background-color: lightgray;
      }




.title {
    position: relative;
    left: 22%;
}